.blog-preview { 
  // height: 100rem;
  width: 115rem;
  margin-top: 7.5rem;
  margin-left: 50%;
  transform: translate(-50%);
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}