.landing {
  height: 93vh;
  background: linear-gradient(
      324.58deg, 
      rgba(55, 150, 131, 0.75) 14.82%, 
      rgba(5, 56, 107, 0.75) 70.24%), 
    url(../../assets/hero-3.jpg);
  background-size: cover;
  background-position: 0% 85%;
  position: relative;
  display: flex;
  justify-content: center;

  &__textbox {
    position: absolute;
    top: 25%;
    width: 50%;
    text-align: center;

    &--title {
      font-size: 7.2rem;
      color: #8EE4AF;
    }
    
    &--description {
      font-size: 2.4rem;
      color: #EDF5E1;
      font-weight: 300;
      margin-top: 5rem;
    }

    &--social {
      display: flex;
      justify-content: center;
      
      width: 40%;
      margin-top: 3rem;
      margin-left: 50%;
      transform: translate(-50%, 0);

      img {
        height: 3rem;
        opacity: 0.5;
        margin: 0 0.5rem;
      }
    }
  }
}