.navigation {
  position: absolute;
  width: calc(100% - 6rem);
  height: 5rem;
  padding: 0 25%;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #EDF5E1;
  text-transform: uppercase;
  font-weight: normal;

  &__item:hover {
    border-bottom: 2px solid #EDF5E1;
    padding-bottom: 0.2rem;
    transition: all .2s;
  }
}

.sticky {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: #05386B;
  width: calc(100% - 6rem);
  padding: 0 25%;
  transform: translate(-50%, 0a 10px rgba(0, 0, 0, 0.25));
  left: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: #EDF5E1;
  text-transform: uppercase;
}