.blog {
  display: flex;
  flex-direction: column;
  width: 25rem;
  text-transform: uppercase;

  &__image {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 0.5rem;
    background-color: black;
  }

  &__textbox {

    &--details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .date {
        color: var(--primary-blue-900);
        opacity: 0.75;
        float: left;
      }
      
      & .category {
        height: 2rem;
        text-align: center;
        color: var(--primary-lime-900);
        background-color: var(--primary-lime-400);
        border-radius: 1.5rem;
        float: right;
        line-height: 2rem;
      }
    }

    &--title {
      color: var(--primary-blue-900);
      display: inline-block;
      // font-weight: 600;
    }
  }
}