*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-blue-900: #093B71;
  --primary-blue-800: #174C85;
  --primary-blue-700: #255D98;
  --primary-blue-600: #336EAC;
  --primary-blue-500: #407FBF;
  --primary-blue-400: #6499CF;
  --primary-blue-300: #88B2DE;
  --primary-blue-200: #ACCCED;
  --primary-blue-100: #CFE5FC;

  --primary-lime-900: #034E25;
  --primary-lime-800: #1A7241;
  --primary-lime-700: #30955D;
  --primary-lime-600: #46B879;
  --primary-lime-500: #5CDB95;
  --primary-lime-400: #7CE4AA;
  --primary-lime-300: #9BECBF;
  --primary-lime-200: #BAF5D4;
  --primary-lime-100: #D9FDE9;

  --primary-green-900: #375606;
  --primary-green-800: #4E6A21;
  --primary-green-700: #657E3D;
  --primary-green-600: #7B9258;
  --primary-green-500: #92A673;
  --primary-green-400: #A9BA8E;
  --primary-green-300: #C0CEAA;
  --primary-green-200: #D6E1C5;
  --primary-green-100: #EDF5E0;

  --primary-grey-900: #1B1B1D;
  --primary-grey-800: #39393D;
  --primary-grey-700: #56575D;
  --primary-grey-600: #74757C;
  --primary-grey-500: #91939C;
  --primary-grey-400: #A7A9B0;
  --primary-grey-300: #BEBFC4;
  --primary-grey-200: #D4D4C8;
  --primary-grey-100: #EAEAEC;

  --accent-red-900: #5B0606;
  --accent-red-800: #741515;
  --accent-red-700: #8D2323;
  --accent-red-600: #A63232;
  --accent-red-500: #BF4040;
  --accent-red-400: #CF6565;
  --accent-red-300: #DE8A8A;
  --accent-red-200: #EEAEAE;
  --accent-red-100: #FDD3D3;

  --accent-yellow-900: #664905;
  --accent-yellow-800: #88671B;
  --accent-yellow-700: #AA8532;
  --accent-yellow-600: #CBA248;
  --accent-yellow-500: #EDC05E;
  --accent-yellow-400: #F1CB79;
  --accent-yellow-300: #F6D793;
  --accent-yellow-200: #FAE2AE;
  --accent-yellow-100: #FEEDC8;
}

html {
  /* This defines what 1rem is */
  /* 1 rem = 10px; 10px/16px = 62.5% */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0 3rem 3rem 3rem;
}

/* FONT SIZE */
.fs-xxl {
  font-size: 7.2rem;
}

.fs-xl {
  font-size: 6.4rem;
}

.fs-l {
  font-size: 4.2rem;
}

.fs-ml {
  font-size: 3.6rem;
}

.fs-m {
  font-size: 2.4rem;
}

.fs-sm {
  font-size: 1.8rem;
}

.fs-s {
  font-size: 1.6rem;
}

.fs-xs {
  font-size: 1.4rem;
}

.fs-xxs {
  font-size: 1.2rem;
}

  /* FONT WEIGHT */
  .fw-4 {
    font-weight: 400;
  }

  .fw-5 {
    font-weight: 500;
  }

  .fw-6 {
    font-weight: 600;
  }

  .fw-7 {
    font-weight: 700;
  }

/* MARGIN */
.m-xs {
  margin: 0.5rem;
}

.m-s {
  margin: 1rem;
}

.m-m {
  margin: 2rem;
}

.m-l {
  margin: 3rem;
}

.m-xl {
  margin: 5rem;
}

/* MARGIN BOTTOM */
  .mb-xs {
    margin-bottom: 0.5rem;
  }

  .mb-s {
    margin-bottom: 1rem;
  }

  .mb-m {
    margin-bottom: 2rem;
  }

  .mb-l {
    margin-bottom: 3rem;
  }

  .mb-xl {
    margin-bottom: 5rem;
  }

/* MARGIN TOP */
  .mt-xs {
    margin-top: 0.5rem;
  }

  .mt-s {
    margin-top: 1rem;
  }

  .mt-m {
    margin-top: 2rem;
  }

  .mt-l {
    margin-top: 3rem;
  }

  .mt-xl {
    margin-top: 5rem;
  }

/* MARGIN VERTICAL */
  .mv-xs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .mv-s {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mv-m {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mv-l {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .mv-xl {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  /* MARGIN HORIZONTAL */
  .mh-xs {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .mh-s {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mh-m {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mh-l {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .mh-xl {
    margin-left: 5rem;
    margin-right: 5rem;
  }

/* PADDING */
.p-xs {
  padding: 0.5rem;
}

.p-s {
  padding: 1rem;
}

.p-m {
  padding: 2rem;
}

.p-l {
  padding: 3rem;
}

.p-xl {
  padding: 5rem;
}

  /* PADDING BOTTOM */
  .pb-xs {
    padding-bottom: 0.5rem;
  }

  .pb-s {
    padding-bottom: 1rem;
  }

  .pb-m {
    padding-bottom: 2rem;
  }

  .pb-l {
    padding-bottom: 3rem;
  }

  .pb-xl {
    padding-bottom: 5rem;
  }

  /* PADDING TOP */
  .pt-xs {
    padding-top: 0.5rem;
  }

  .pt-s {
    padding-top: 1rem;
  }

  .pt-m {
    padding-top: 2rem;
  }

  .pt-l {
    padding-top: 3rem;
  }

  .pt-xl {
    padding-top: 5rem;
  }

/* PADDING VERTICAL */
.pv-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pv-s {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pv-m {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pv-l {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pv-xl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* PADDING HORIZONTAL */
.ph-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ph-s {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph-m {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ph-l {
  padding-left: 3rem;
  padding-right: 3rem;
}

.ph-xl {
  padding-left: 5rem;
  padding-right: 5rem;
}