.homepage {
  background-color: var(--primary-green-100);
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  .section-blog {
    display: flex;
    justify-content: center;
  }

  .section-about-me {
    display: flex;
    justify-content: center;
    background: linear-gradient(
      154.84deg, 
      var(--primary-lime-400) -3.85%, 
      var(--primary-blue-900) 106.77%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }

  .section-projects {
    display: flex;
    justify-content: center;
  }

  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      327.76deg, 
      var(--primary-lime-400) -2.58%, 
      var(--primary-blue-900) 104.87%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  }
}