.homepage {
  background-color: #EDF5E1;
  display: flex;
  flex-direction: column;
  top: 20px;

  .section-landing {
    // top: -1rem;
  }

  .section-blog {
    display: flex;
    justify-content: center;
  }

  .section-about-me {
    display: flex;
    justify-content: center;
    background: linear-gradient(154.84deg, #379683 -3.85%, #05386B 106.77%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }

  .section-projects {
    display: flex;
    justify-content: center;
  }

  .section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(327.76deg, #379683 -2.58%, #05386B 104.87%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  }
}